
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - مدرسه دکتر خرمی</title>
    <link rel="icon" href="/img/icon.png" type="image/png">

    <!-- google apis font -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- my js -->
    <link rel="stylesheet" href="/css/style.css">
    @await RenderSectionAsync("MetaCss", false)

</head>
<body>
<div id="pre" class=" hide active">
    <img src="/img/Walk.gif" alt="loading..." srcset="">
</div>
<div id="docconter">
    @await Html.PartialAsync("_LoginPartial")
            @RenderBody()
<footer class="page-footer blue darken-3">
    <div class="container ">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">مدرسه دکتر خرمی روز</h5>
                <p class="blue darken-3 text-lighten-4 blue-text text-lighten-4">ساخته شده توسط <strong>محمد حسن یاوری</strong></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">لینک ها</h5>
                <ul>
                    <li><a asp-page="Blog">مقالات</a></li>
                    <li><a asp-page="Index">خانه</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container" dir="rtl">
    .تمام حقوق مادی و معنوی این سایت برای محمد حسن یاوری محفوظ است
        </div>
    </div>
</footer>
</div>

    <!-- juery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<!-- materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<!-- my css -->
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/global.js"></script>
<script src="~/js/Custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




