@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model string
<div class="input-group input-group-outline mb-3">

<label asp-for="@Model"></label>
<textarea id="ckeditor-field" asp-for="@Model"></textarea></div>
