@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IFormFile
<div class="input-group input-group-outline mb-3">
    <label asp-for="@Model"></label>
    <input asp-for="@Model" class="form-control-file">
</div>