@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model int

<div class="input-group input-group-outline mb-3 " name="form">
    <label asp-for="@Model" style="z-index:6000;" class="form-label"></label>
    <input asp-for="@Model" style="z-index:5500;" class="form-control">

</div>