@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model string


<div class="input-group input-group-dynamic mb-3 " name="form">
    <label asp-for="@Model" style="color:blue; font-weight:bold;" class="form-label"></label>
    <input asp-for="@Model" class="form-control">

</div>