@page "{code}"
@model ErrorModel
@{
    ViewData["title"] = Model.Code.ToString();
}

<h1 class="center red-text bold">@Model.Code</h1>
<p class="center">@(Model.Code == 404 ? "صفحه مورد نظر یافت نشد":"اجاره دسترسی ندارید") برای بازگشت به خانه روی <a asp-page="Index"> این لینک </a>کلیک کنید </p>
