@page
@model PostModel
@{
}
<section>
    <div class="parallax-container responsive-img">
        <div class="parallax main-img">
            <img src="https://lh3.googleusercontent.com/p/AF1QipO9LPT7uq2oWyVnshIQCsOWJ6FyARUMpi3i451-=s680-w680-h510">
        </div>
    </div>

    <div class="slider">
        <ul class="slides">
            <li>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmHo317dEVutnMk0sZp_GOLoRPCG_S4hoYBg&usqp=CAU">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>عنوان</h3>
                    <h5 class="light grey-text text-lighten-3">توضیحات</h5>
                </div>
            </li>
            <li>
                <img src="./assets/img/redmi2.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3>عنوان</h3>
                    <h5 class="./assets/img/redmi2.jpg">توضیحات</h5>
                </div>
            </li>
            <li>
                <img src="./assets/img/redmi2.jpg"> <!-- random image -->
                <div class="caption right-align">
                    <h3>عنوان</h3>
                    <h5 class="light grey-text text-lighten-3">توضیحات</h5>
                </div>
            </li>
            <li>
                <img src="./assets/img/redmi2.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3>عنوان</h3>
                    <h5 class="light grey-text text-lighten-3">توضیحات</h5>
                </div>
            </li>
        </ul>
    </div>
</section>
<br>
<div class="row m20">
    <div class="col s12 l3">
        <div class="card">
            <div dir="rtl" class="card-content">
                <h4>دسته بندی ها:</h4>
                <ul class="collection">
                    <li class="collection-item">Alvin</li>
                    <li class="collection-item">Alvin</li>
                    <li class="collection-item">Alvin</li>
                    <li class="collection-item">Alvin</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="col s12 l9 section z-depth-1 plr-10 ">

        <nav class="mt5" dir="rtl">
            <div class="nav-wrapper">
                <div class="col s12" dir="rtl">
                    <a href="#!" class="breadcrumb" dir="rtl">First</a>
                    <a href="#!" class="breadcrumb" dir="rtl">Second</a>
                    <a href="#!" class="breadcrumb" dir="rtl">Third</a>
                </div>
            </div>
        </nav>
        <h2 class="right">:عنوان</h2><small class="left valign-wrapper m20"><i class="material-icons">history</i> 1402/3/4</small> <small class="left valign-wrapper m20"><i class="material-icons">list</i> علمی</small> <small class="left valign-wrapper m20"><i class="material-icons">visibility</i>333</small>
        <div class="clear-fix"></div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquid, sapiente iusto eligendi, temporibus
            sequi veniam soluta doloribus ad culpa reiciendis, praesentium voluptatum ipsa quae atque ipsum incidunt est
            eos.
        </p>

    </section>
</div>
<article>
    <h2 dir="rtl">مقالات مرتبط:</h2>
    <div class="carousel">
        <a dir="rtl" class="carousel-item" href="#one!">
            <img src="./assets/img/redmi2.jpg"><span class="center">مقاله</span>
        </a>
        <a dir="rtl" class="carousel-item" href="#one!">
            <img src="./assets/img/redmi2.jpg"><span class="center">مقاله</span>
        </a>
        <a dir="rtl" class="carousel-item" href="#one!">
            <img src="./assets/img/redmi2.jpg"><span class="center">مقاله</span>
        </a>
        <a dir="rtl" class="carousel-item" href="#one!">
            <img src="./assets/img/redmi2.jpg"><span class="center">مقاله</span>
        </a>
        <a dir="rtl" class="carousel-item" href="#one!">
            <img src="./assets/img/redmi2.jpg"><span class="center">مقاله</span>
        </a>
        <a dir="rtl" class="carousel-item" href="#one!">
            <img src="./assets/img/redmi2.jpg"><span class="center">مقاله</span>
        </a>

    </div>
</article>
<br>