@model UtilitesLayer.DTOs.Category.CreateCategoryDto

@{
    ViewBag.title = "ایجاد دسته بندی";
}

<form method="post">
    @Html.EditorFor(a=>a.Name)
    @Html.EditorFor(a=>a.Slug)
    <input type="submit" class="btn btn-success"/>
</form>
