@model UtilitesLayer.DTOs.Category.CreateCategoryDto

@{
}

<form method="post">
    <div asp-validation-summary="All"></div>
    @Html.EditorFor(a=>a.Name)
    @Html.EditorFor(a=>a.Slug)
    <input value="ایجاد" type="submit" class="btn btn-success"/>
</form>
